<div class="navbar-wrapper">
  <nav class="navbar">
    <div class="navbar__menu-wrapper">
      <div class="navbar__menu">
        <a href="#" class="navbar__logo" tabindex="-1">
          <svg width="100%" height="100%" viewBox="0 0 314 364" version="1.1" xml:space="preserve"
            style="fill-rule:evenodd;clip-rule:evenodd">
            <g id="Symbol">
              <path id="Oval-1"
                d="M230.537,93.88c36.999,24.078 61.463,65.799 61.463,113.233c0,74.559 -60.442,135 -135,135c-74.558,0 -135,-60.441 -135,-135c0,-47.668 24.706,-89.567 62.012,-113.588"
                style="fill:none;stroke:#161e2e;stroke-width:43px"></path>
              <g id="Waterfall">
                <path id="Path-3"
                  d="M204.187,0l0,46.843l-47.743,0l0.6,233.461l-33.78,-33.069l0,-200.694c0,0 -0.15,-46.541 33.78,-46.541c33.931,0 47.143,0 47.143,0Z"
                  style="fill:#a4cafe"></path>
                <path id="Path-2"
                  d="M237.187,0l0,46.843l-47.743,0l0,200.281l-33.18,33.18l0,-233.763c0,0 -0.15,-46.541 33.78,-46.541c33.931,0 47.143,0 47.143,0Z"
                  style="fill:#1c64f2"></path>
              </g>
            </g>
          </svg>
        </a>
        <div class="navbar__cta-mobile">
          <button class="navbar__toggle" {{on "click" this.toggleMenu}} type="button">
            <svg class="navbar__toggle__bar" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
      <div class="navbar__links">
        <LinkTo class="navbar__link" @route="index">Home</LinkTo>
        <LinkTo class="navbar__link" @route="about">About</LinkTo>
        <LinkTo class="navbar__link" @route="events">Events</LinkTo>
        <LinkTo class="navbar__link" @route="conduct">Code of Conduct</LinkTo>
      </div>
    </div>
    <div class="navbar__cta">
      <span class="navbar__button-wrapper is-heavy">
        <span class="navbar__button-wrapper is-light">
          <LinkTo class="navbar__button" @route="join">Join Us</LinkTo>
        </span>
      </span>
    </div>
  </nav>
  <div class="navbar-mobile-wrapper {{if this.isExpanded "is-open"}}">
    <div class="navbar-mobile">
      <div class="navbar-mobile__menu-wrapper">
        <div class="navbar-mobile__menu">
          <a href="#" class="navbar__logo is-mobile" tabindex="-1">
            <svg width="100%" height="100%" viewBox="0 0 314 364" version="1.1" xml:space="preserve"
              style="fill-rule:evenodd;clip-rule:evenodd">
              <g id="Symbol">
                <path id="Oval-1"
                  d="M230.537,93.88c36.999,24.078 61.463,65.799 61.463,113.233c0,74.559 -60.442,135 -135,135c-74.558,0 -135,-60.441 -135,-135c0,-47.668 24.706,-89.567 62.012,-113.588"
                  style="fill:none;stroke:#161e2e;stroke-width:43px"></path>
                <g id="Waterfall">
                  <path id="Path-3"
                    d="M204.187,0l0,46.843l-47.743,0l0.6,233.461l-33.78,-33.069l0,-200.694c0,0 -0.15,-46.541 33.78,-46.541c33.931,0 47.143,0 47.143,0Z"
                    style="fill:#a4cafe"></path>
                  <path id="Path-2"
                    d="M237.187,0l0,46.843l-47.743,0l0,200.281l-33.18,33.18l0,-233.763c0,0 -0.15,-46.541 33.78,-46.541c33.931,0 47.143,0 47.143,0Z"
                    style="fill:#1c64f2"></path>
                </g>
              </g>
            </svg>
          </a>
          <div class="-mr-2">
            <button class="navbar-mobile__toggle" {{on "click" this.toggleMenu}} type="button">
              <svg class="navbar-mobile__toggle__bar" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="navbar-mobile__links">
          <LinkTo class="navbar-mobile__link" @route="index">Home</LinkTo>
          <LinkTo class="navbar-mobile__link" @route="about">About</LinkTo>
          <LinkTo class="navbar-mobile__link" @route="events">Events</LinkTo>
          <LinkTo class="navbar-mobile__link" @route="conduct">Code of Conduct</LinkTo>
        </div>
        <div>
          <LinkTo class="navbar-mobile__button" @route="join">Join Us</LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>