<div class="hidden lg:block lg:fixed lg:inset-0">
  <svg class="absolute top-20 left-1/2 transform translate-x-64 -translate-y-8" width="640" fill="none"
    viewBox="0 0 640 784">
    <defs>
      <pattern id="9ebea6f4-a1f5-4d96-8c4e-4c2abf658047" x="118" y="0" width="20" height="20"
        patternUnits="userSpaceOnUse">
        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
      </pattern>
    </defs>
    <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
    <rect x="118" width="404" height="100%" fill="url(#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047)" />
  </svg>
</div>
<div class="relative">
  <Nav />
  <div class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-20 xl:mt-24 md:pb-20 lg:pb-24 xl:pb-32">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      {{outlet}}
    </div>
  </div>
</div>