<Accent />
<div class="relative">
  <Navbar />
  <div class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-20 xl:mt-24 md:pb-20 lg:pb-24 xl:pb-32">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      {{outlet}}
    </div>
  </div>
</div>